@mixin gradient {
    background: linear-gradient(to bottom, $color-primary-bg, $color-secondary) no-repeat;
}
@mixin gradient-lighter {
    background: linear-gradient(to right, $color-primary-bg, $color-secondary-light) no-repeat;
}
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoint, mobile)) {
        @content;      
    }
}
@mixin not-mobile {
    @media screen and (min-width: map-get($breakpoint, laptop)) {
        @content;      
    }
}
@mixin button-gradient {
    position: absolute;
    @include gradient-lighter;
    padding: .2rem;
    border-radius: 2rem;
    color: white;
}
@mixin button-gradient-hover {
  position: absolute;
  @include gradient;
  padding: .2rem;
  border-radius: 2rem;
  color: white;
}

@mixin message {
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    width: fit-content;
}

@mixin alert {
  background-color: $color-tertiary;
    color: white;
    position: fixed;
    z-index: 1051;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20rem;
    height: 2rem;
    margin: 0 auto;
}

$anim-dur: 1000ms;
$option: 10;
$anim-delay: $anim-dur / $option;
@keyframes appear { 
    0%{
      opacity:0;
      transform: translateY(10px);
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity:1;
      transform: translateY(0px);  
    }
  }

  @mixin anim-appear {
    animation: appear $anim-dur backwards;
    @for $i from 0 through 10 { 
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      } 
    }
  }
  .list-group-item .comment {
    @include anim-appear;
  }