@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.list-group-item .comment {
  animation: appear 1000ms backwards;
}
.list-group-item .comment--0 {
  animation-delay: 0ms;
}
.list-group-item .comment--1 {
  animation-delay: 100ms;
}
.list-group-item .comment--2 {
  animation-delay: 200ms;
}
.list-group-item .comment--3 {
  animation-delay: 300ms;
}
.list-group-item .comment--4 {
  animation-delay: 400ms;
}
.list-group-item .comment--5 {
  animation-delay: 500ms;
}
.list-group-item .comment--6 {
  animation-delay: 600ms;
}
.list-group-item .comment--7 {
  animation-delay: 700ms;
}
.list-group-item .comment--8 {
  animation-delay: 800ms;
}
.list-group-item .comment--9 {
  animation-delay: 900ms;
}
.list-group-item .comment--10 {
  animation-delay: 1000ms;
}

body {
  background: linear-gradient(to bottom, #43cea2, #185a9d) no-repeat;
}

#main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  position: relative;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  border-top: 0.5px solid #ababab;
  box-shadow: 0rem -0.1rem 2.2rem #071b2e;
  padding: 0.55rem;
}

a {
  cursor: pointer;
}

.text-uppercase {
  font-size: 70%;
}

.alert {
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  width: fit-content;
  background-color: #FA3448;
  color: white;
  position: fixed;
  z-index: 1051;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20rem;
  height: 2rem;
  margin: 0 auto;
  top: 10rem;
}

.current-user {
  text-shadow: 0.2rem 0.1rem 0.2rem #ababab;
  font-size: 0.75rem;
}

.title {
  /* text-shadow: 0rem -0.1rem 0.5rem white; */
  background-color: black;
  color: white;
  width: fit-content;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}

.display-4 {
  font-size: 2rem;
}

.marked {
  position: relative;
  z-index: 0;
  width: fit-content;
}

.gradient-marked {
  background: linear-gradient(to right, #6bd9b6, #1f73c9) no-repeat;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  top: 0.99rem;
  border-radius: 2rem;
  height: 0.4rem;
  width: 100%;
}

header p {
  position: relative;
  margin: 0 auto;
  color: black;
  font-weight: bolder;
  width: fit-content;
}
header p img {
  position: absolute;
  opacity: 0.3;
}

.navbar {
  background-color: white;
  border-bottom: 0.1px solid #6d7a86;
  padding: 0;
}
.navbar .nav-link {
  padding: 0.2rem 1rem;
}
@media screen and (max-width: 700px) {
  .navbar {
    justify-content: flex-end;
  }
}

#navbarNav {
  box-shadow: 0.1rem 0.1rem 1.2rem #6d7a86;
}

.navbar-brand {
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #43cea2;
  }
}

.navbar .nav-link {
  border-bottom: 3px solid transparent;
}

.search-bar {
  padding: 0.5rem 4rem;
  background-color: #185a9d;
}
@media screen and (max-width: 700px) {
  .search-bar {
    width: 100%;
  }
}
.search-bar .form-control-sm {
  border: 1px solid #ced4da;
  font-size: 0.78rem;
}
.search-bar .form-control-sm:focus {
  border-color: #43cea2;
  box-shadow: 0 0 0 0.2rem #6bd9b6;
}
.search-bar i {
  color: #6bd9b6;
}

.nav-fav {
  position: fixed;
  left: -1rem;
  width: 15%;
  z-index: 2;
}
.nav-fav a {
  color: #6f827c !important;
}

.form-inline .custom-input {
  font-size: 0.8rem;
  line-height: 1;
  color: #737c83;
}
.form-inline .custom-input:focus {
  border-color: #43cea2;
  box-shadow: 0 0 0 0.2rem #6bd9b6;
}

.dropdown .dropdown-menu {
  min-width: 7rem !important;
  padding: 0.15rem 0 !important;
}
.dropdown .dropdown-menu .dropdown-item {
  padding: 0.25rem 1rem !important;
  font-size: small !important;
}

form .marked {
  width: 14rem;
}

.form-group .form-control:focus {
  border-color: #43cea2;
  box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .form-container {
    display: flex;
    justify-content: space-evenly;
  }
}

.btn {
  border-radius: 2rem;
}

.btn-primary {
  background-color: #43cea2;
  border: none;
}
.btn-primary:hover {
  background-color: #6bd9b6;
  border: none;
}
.btn-primary:focus {
  background-color: #43cea2;
  border: none;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #43cea2;
  border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-outline-primary {
  border-color: #43cea2;
  color: #43cea2;
}
.btn-outline-primary:hover {
  background-color: #6bd9b6;
  border-color: #43cea2;
}
.btn-outline-primary:focus {
  background-color: none;
  border-color: #43cea2;
  box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #43cea2;
  border-color: #43cea2;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-secondary {
  background-color: #185a9d;
  border: none;
}
.btn-secondary:hover {
  background-color: #1f73c9;
  border: none;
}
.btn-secondary:focus {
  background-color: #185a9d;
  border: none;
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #185a9d;
  border: none;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.show > .btn-secondary.dropdown-toggle {
  background-color: #1f73c9;
  border: none;
}

i {
  color: #43cea2;
  padding: 0 0.2rem 0 1rem;
  font-size: 1rem;
}

.fa-plus,
.fa-minus {
  padding: 0 0.2rem 0 0;
}

.fa-plus {
  color: white;
}

.info {
  font-size: 0.8rem;
  margin: 0;
  color: grey;
}

.card-container {
  padding: 5rem 0;
}

.card {
  border: 0.1px black solid;
  box-shadow: 0rem -0.1rem 1.2rem #6bd9b6;
}
.card .card-body {
  position: relative;
}
.card .card-body .stat {
  position: absolute;
  background: linear-gradient(to right, #6bd9b6, #1f73c9) no-repeat;
  padding: 0.2rem;
  border-radius: 2rem;
  color: white;
  right: 1.5rem;
}
.card .card-body .stat i {
  color: white;
}
.card .back {
  position: absolute;
  background: linear-gradient(to right, #6bd9b6, #1f73c9) no-repeat;
  padding: 0.2rem;
  border-radius: 2rem;
  color: white;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
  top: -0.9rem;
  left: 0.5rem;
}
.card .back:hover {
  position: absolute;
  background: linear-gradient(to bottom, #43cea2, #185a9d) no-repeat;
  padding: 0.2rem;
  border-radius: 2rem;
  color: white;
}

.card a {
  color: #43cea2;
  font-size: 0.8rem;
}

.card-body img {
  max-width: 100% !important;
  height: auto !important;
}

.post-content {
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .post-content {
    max-height: 20rem;
  }
}
.post-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}

.report {
  border-left: 2px solid #ebedee;
}
.report i {
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: #ebedee;
}

.edit {
  color: #6c757d !important;
}

.button-edit {
  height: fit-content;
  width: fit-content;
  z-index: 1;
  background: #185a9d;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 1.2rem #1f73c9;
}
@media screen and (max-width: 700px) {
  .button-edit {
    bottom: 4rem;
    right: 1rem;
    position: fixed;
  }
}
@media screen and (max-width: 700px) {
  .button-edit span {
    display: none;
  }
}

.modal {
  top: 20%;
}
.modal .modal-content {
  border: none !important;
}
.modal .modal-content .close {
  position: absolute;
  z-index: 1;
  right: 1rem;
}

.img-frame {
  border-radius: 5rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}

.profile-follow {
  box-shadow: 0.2rem 0.1rem 0.2rem #e6e6e6;
  width: 6rem;
}

.email-title {
  color: #43cea2;
}

.list-group-item {
  border: none;
}
.list-group-item .comment {
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  width: fit-content;
  background-color: #43cea2;
}

.list {
  padding: 0;
}
.list .list-report {
  box-shadow: 0.2rem 0.1rem 0.2rem #e6e6e6;
  list-style: none;
  border-left: 4px solid #43cea2;
}
.list .list-report .report-author {
  color: #185a9d;
}
.list .list-report a, .list .list-report i {
  color: #185a9d;
}

.page-item.active .page-link {
  background-color: #185a9d;
  border-color: #185a9d;
}

/*# sourceMappingURL=style.css.map */
